@page "/tags"
@using soa.ui.Models.DTOs.Categories
@using soa.ui.Models.DTOs.Tags
@inherits TagsViewModel

@if (!AuthState.Value.IsLoggedOn)
{
    NavigateToSignin();
}

@if (AuthState.Value.IsLoggedOn)
{
    <div class="videos">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h3 class="card-header">Tags</h3>
                    <div class="card-body">
                        <div class="row">
                            <TelerikGrid 
                                @ref="@TagsGrid"
                                Data="@TagState.Value.TagList" 
                                OnUpdate="@OnEditTagClickHandler"
                                OnDelete="@OnDeleteTagClickHandler"
                                OnCreate="@OnAddTagClickHandler"
                                Pageable="true" 
                                Groupable="false"
                                Sortable="true"
                                FilterMode="GridFilterMode.FilterRow"
                                Resizable="true"
                                Reorderable="true"
                                PageSize="10" 
                                Height="1100px"
                                EditMode="GridEditMode.Inline"
                                PageChanged="@PageChangedHandler" 
                                SelectionMode="GridSelectionMode.Single"
                                SelectedItemsChanged="@((IEnumerable<TagDto> TagList) => OnTagSelect(TagList))"
                                SelectedItems="@SelectedTagItems" 
                                Navigable="true"
                                OnStateInit="@((GridStateEventArgs<TagDto> args) => OnStateInit(args))"
                            >
                                <GridColumns>
                                    <GridColumn Field="@(nameof(TagDto.Id))" Title="Id" Visible="false"
                                                Groupable="false" />
                                    <GridColumn Field="@(nameof(TagDto.Title))" Title="Title"
                                                Groupable="false" />
                                    <GridColumn Field="@(nameof(TagDto.Description))" Title="Description"
                                                Groupable="false" />
                                    <GridColumn Field="@(nameof(TagDto.Count))" Title="Count - Questions"
                                                Groupable="false" />
                                    
                                    <GridColumn Field="@nameof(TagDto.CreatedDate)" Title="Date - Created">
                                        <Template>
                                            @((context as TagDto).CreatedDate.ToString("MMMM dd, yyyy"))
                                        </Template>
                                    </GridColumn>
                                    <GridCommandColumn Width="190px">
                                        <GridCommandButton Command="Save" Icon="save" ShowInEdit="true">Update</GridCommandButton>
                                        <GridCommandButton Command="Edit" Icon="edit">Edit</GridCommandButton>
                                        <GridCommandButton Command="Delete" Icon="delete">Delete</GridCommandButton>
                                        <GridCommandButton Command="Cancel" Icon="cancel" ShowInEdit="true">Cancel</GridCommandButton>
                                    </GridCommandColumn>
                                </GridColumns>
                                <GridToolBar>
                                    <GridCommandButton Command="Add" Icon="add">Add Tag</GridCommandButton>
                                </GridToolBar>
                            </TelerikGrid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
